.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.week {
  text-align: center;
}

.buttons {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: stretch;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
}

.description {
  text-align: center;
}

.title {
  text-align: center;
  margin-block-end: clamp(0.625rem, -0.3533rem + 4.3478vw, 3.125rem);
  margin-block-start: clamp(3.125rem, 1.9022rem + 5.4348vw, 6.25rem);
}

@media (min-width: 768px) {
  .buttons {
    flex-direction: row;
    justify-content: center;
  }

  .buttons button {
    inline-size: 100px;
  }

  .links {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (min-width: 1280px) {
  .buttons {
    flex-direction: row;
  }

  .buttons button {
    inline-size: 120px;
    text-transform: uppercase;
  }
}