/* Глобальные стили*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 360px;
  max-inline-size: 1280px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Стили */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

:root:has(#dark) {
  fill: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#light {
  color: #213547;
  background-color: #ffffff;
}

:root:has(#light) {
  color: #213547;
  background-color: #ffffff;
}

#dark button {
  color: #1a1a1a;
  background-color: #ffffff;
}

#light button {
  background-color: #1a1a1a;
  color: #ffffff;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a.active {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

#light a {
  color: #1a1a1a;
}

#dark a {
  color: #ffffff;
}

#light a:hover,
#dark a:hover {
  color: #7e7e85;
}

#dark a:hover {
  color: #b2b1b1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#dark button:active {
  border: 2px solid #1a1a1a;
  outline: 2px solid #ffffff;
}

#light button:active {
  border: 2px solid #ffffff;
  outline: 2px solid #1a1a1a;
}

h1 {
  font-size: clamp(1.5rem, 1.3043rem + 0.8696vw, 2rem);
}

h2 {
  font-size: clamp(1.25rem, 1.0543rem + 0.8696vw, 1.75rem);
}

h3 {
  font-size: clamp(1.125rem, 0.9783rem + 0.6522vw, 1.5rem);
}

h4 {
  font-size: clamp(1rem, 0.8533rem + 0.6522vw, 1.375rem);
}

h5 {
  font-size: clamp(0.875rem, 0.7283rem + 0.6522vw, 1.25rem);
}

p,
tspan,
span {
  font-size: clamp(1rem, 0.9511rem + 0.2174vw, 1.125rem);
}

.p-2 {
  overflow-y: hidden;
  overflow-x: auto;
  height: auto;
}

input {
  border-radius: 10px;
  height: 22px;
}